<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.core.ashwini">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- For some reason the email query doesn't work, so had to include this blanket permission -->
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />

    <queries>
        <!-- For Feedback Mail, API 30 -->
        <intent>
            <action android:name="android.intent.action.SENDTO" />
            <data android:scheme="" />
        </intent>

        <!-- For Fetching User ID Image File, API 30 -->
        <intent>
            <action android:name="android.intent.action.GET_CONTENT" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Asklepius">
        <activity android:name="org.core.ashwini.UserValidationUpload" />
        <activity android:name="org.core.ashwini.DisplaySearchResults" />
        <activity android:name="org.core.ashwini.SearchParameters" />
        <activity android:name="org.core.ashwini.DisplayPatientData" />
        <activity android:name="org.core.ashwini.ViewUploadedData"/>
        <activity android:name="org.core.ashwini.NewPatient" />
        <activity android:name="org.core.ashwini.LoginActivity" />
        <activity android:name="org.core.ashwini.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.android.filecontentprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>